<div style="width:100%;background-color:black">
	<h1 style="color:red">Dear <%= @user.first_name %>, Thanks for Signing up!</h1>
	<p style="color:white">
		Do not hesitate to contact us, should you have any questions or suggestions! You can reach our Dev-Team by clicking on this <%= link_to "DevTeam", root_path, :only_path => true %>.
	</p>
</div>