<h1>My Projects</h1>

<% @projects.each do |project| %>
<div class="project">
	<h3><%= project.title %></h3>
	<p><strong><%= project.teaser %></strong></p>
	<p><%= project.description %></p>
</div>
<% end %>

