<h1>Listing projects</h1>
<h2>Displaying projects 1 - 8 of 50 in total</h2>

<p>
	<% @projects.each do |project| %>
		<li class="project">
			<h3><%= link_to project.title, project_path(project) %></h3>
			
			<p><%= project.teaser %></p>
			<hr>
		</li>
	<% end %>
	<%= paginate @projects %>
</p>